@import "tailwindcss";

html,
body {
    background:#050816;
    color:white;
    scroll-behavior:smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

/* Hide horizontal scrollbar */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}